// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$white_color: #fdfeff;
$primary_color: #ec3024;
$flame_color: #f4b71c;
$transiction_flame_color: #f27d22;
