// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//FontAweose
@import "font-awesome/scss/font-awesome.scss";

body {
    background: rgba(251, 199, 104, 0.905);
}

.btn-duale {
    background-color: $primary_color !important;
    color: white;
    font-weight: bold;
    &:hover {
        color: white;
    }
}

.bg-duale {
    background-color: $flame_color !important;
}

.bg-dark {
    background-color: #212529 !important;
}

.floating-actions {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-end;
    margin: 1.25em;
    position: fixed;
    right: 0;
}
