@import "../../../../resources/sass/variables";
.logo-img {
    height: 400px;
    width: 500px;
}

.floating-actions {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-end;
    margin: 1.25em;
    position: fixed;
    right: 0;
}

hr {
    padding: 0.05rem;
    margin: 1rem 2rem;
    color: inherit;
    border: 0;
    opacity: 0.25;
    border-color: $primary_color !important;
}
