.logo-img {
    height: 400px;
    width: 500px;
}

.floating-actions {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-end;
    margin: 1.25em;
    position: fixed;
    right: 0;
}
