@import "../../../sass/variables";
footer {
    background-color: $transiction_flame_color !important;
    padding: 1rem !important;
    border-radius: 5px !important;
    a,p {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: black !important;
        text-transform: uppercase;
    }
    i {
        //color: black
    }
}
