.product {
    width: 25rem;
    color: white !important;
    font-family: 'Montserrat', sans-serif;
    h5 {
        color: white !important;
        font-weight: bold;
    }
    i {
        font-size: 20px !important;
        color: white
    }
    img {
        height: 250px;
    }
}
